body {
  background: beige;
}

.object {
  width: 100px;
  height: 100px;
  position: relative;
  animation: mymove 3s infinite alternate-reverse;
}

@keyframes mymove {
  0%   {top: 0px; left: 0px; background-image: repeating-radial-gradient(green, yellow 15%, red 20%); box-shadow: 10px 10px 8px white; }
  100%  {top: 660px; left: 1060px; width: 200px; height: 200px; border-radius: 100%; background-image: repeating-radial-gradient(red, green 10%, white 15%); box-shadow: 10px 10px 8px blue; }
}

