@media (max-width: 1060px) {
    .navigation-wrapper {
        height: 100%;
        flex-direction: column;
    }

    .navigation-wrapper > .codepen-logo {
        margin: auto;
    }

    .navigation-wrapper > .explore-wrapper {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }

    .navigation-wrapper > .startup-wrapper {
        margin: auto;
        width: 100%;
    }

    .footer {
        height: 100%;
    }

    

    .body-wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .learn-more-btn {
        margin-left: 50px;
    }
    
    .footer > .footer-box > .footer-textbox {
        font-size: 110%;
    }
}

@media (max-width: 1560px) {
    .learn-more-btn {
        margin-left: 50px;
    }
}